<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Developer Blogs</span>
        <span class="toolbar-spacer"></span>
        <a href="https://danieljames-dj.github.io" style="color: inherit;"><mat-icon class="home-icon" aria-hidden="false" aria-label="Home icon">home</mat-icon></a>
    </mat-toolbar-row>
</mat-toolbar>

<h3>Back end</h3>

<div class="container">
<div class="grid-row">
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Image">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
</div>
</div>

<h3>Next end</h3>

<div class="container">
<div class="grid-row">
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Image">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
    <div class="grid-item">
    <a class="wrapping-link" href="https://google.com"></a>
    <mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="./assets/apache.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Multiple websites with Apache 2</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</mat-card-subtitle>
    </mat-card-content>
    </mat-card>
    </div>
</div>
</div>